<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verificar usuário - Exercício GoNode</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <div>Informe seu nome:</div>
      <input type="text" name="name" />
      <div>Informe sua data de nascimento:</div>
      <input type="date" name="dateBirth" />
      <button type="submit">Enviar dados</button>
    </form>
  </body>
</html>
